// $primary-color: #e9ecef;
// $secondary-color: #42033d;
// $terciary-color: #7c238c;


$primary-color: #e9ecef;
$secondary-color: #00a9a5;
$terciary-color: #006666;


$gradient-color1:#02c3bd;
$gradient-color2: #03312e;